---
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title }</title>
	</head>
	<body class="body">
		<Nav />
		<main class="content">
			<slot />
		</main>
	</body>
</html>
<style>
	html {
		font-family: monospace;
	}

	.body {
		display: grid;
		grid-template-columns: 50ch auto;
	}

	.content {
		text-align: center;
	}
</style>
