---
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/note/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="body">
    <Nav />
    <main class="content">
      <slot />
      <div class="content__btn-group">
        <div class="content__btn-group-container">
          <button class="button-fullscreen" id="button-toggle-fullscreen">
            Fullscreen
          </button>
          <button class="button-present" id="button-toggle-present">
            Presentation
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
<script>
  import { toggleNavPanel } from "../modules/nav.api";

  function bodyToggleOverflow() {
    document.body.classList.toggle("body_overflow_hidden");
  }

  function setFullscreenMode() {
    document.documentElement.requestFullscreen();
  }

  function toggleFullScreen() {
    if (!document.fullscreenElement) {
      setFullscreenMode();
    } else if (document.exitFullscreen) {
      document.exitFullscreen();
    }
  }

  const btn = document.getElementById("button-toggle-fullscreen");
  btn?.addEventListener("click", toggleFullScreen);

  const btnPresent = document.getElementById("button-toggle-present");
  btnPresent?.addEventListener("click", () => {
    toggleFullScreen();
    toggleNavPanel(bodyToggleOverflow);
  });
</script>
<style>
  @font-face {
    font-family: "Fira Code";
    src: url("/note/FiraCode-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/note/FiraCode-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/note/FiraCode-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/note/FiraCode-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/note/FiraCode-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --text-color: black;
      --background-color: white;
      --link-color: darkslategray;
      --nav-summary: silver;
      --nav-summary-tag: white;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: white;
      --background-color: black;
      --link-color: lightgray;
      --nav-summary: lightgray;
      --nav-summary-tag: black;
    }
  }

  :root {
    color-scheme: light dark;
    --nav-width: 50ch;
  }

  html {
    font-family: "Fira Code", monospace;
    color: var(--text-color);
    background-color: var(--background-color);
  }

  .body {
    margin: 0;
    display: grid;
    grid-template-columns: var(--nav-width) auto;
    transition: all 0.5s;
  }

  .body_overflow_hidden {
    overflow: hidden;
  }

  .content {
    padding: 1ch;
    position: relative;
  }

  .content__btn-group {
    position: absolute;
    top: 3ch;
    right: 3ch;
    width: 30ch;
    height: 30ch;
  }

  .content__btn-group-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    visibility: hidden;
  }

  .content__btn-group:hover .content__btn-group-container {
    visibility: visible;
  }

  .button-fullscreen,
  .button-present {
    background-color: transparent;
    border: solid 1px black;
    text-align: left;
  }

  .button-fullscreen:hover,
  .button-present:hover {
    cursor: pointer;
    background-color: tomato;
  }
</style>
<style is:global>
  pre {
    padding: 1ch;
  }
</style>
