---
import Layout from "../layouts/Layout.astro";
---

<Layout title="notes">
    <h1 class="header">Choose note!</h1>
</Layout>
<style>
    .header {
        margin-top: 0;
        text-align: center;
    }
</style>